<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>AnimeSoc Weekly Forecast</title>
  <style type="text/css">
  body {margin: 0; padding: 0; width: 100%!important;}
  img {height: auto;}
  .content {width: 100%; max-width: 600px;}
  .header {padding: 20px 30px 20px 30px;}
  .innerpadding {padding: 30px 30px 30px 30px;}
  .borderbottom {border-bottom: 1px solid #f2eeed;}
  .subhead {font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 1px;}
  .h1, .h2, .bodycopy {color: #153643; font-family: sans-serif;}
  .h1 {font-size: 33px; line-height: 38px; font-weight: bold;}
  .h2 {padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;}
  .bodycopy {font-size: 16px; line-height: 22px;}
  .button {text-align: center; font-size: 18px; font-family: sans-serif; font-weight: bold; padding: 0 30px 0 30px;}
  .button a {color: #ffffff; text-decoration: none;}
  .footer {padding: 20px 30px 15px 30px;}
  .footercopy {font-family: sans-serif; font-size: 14px; color: #ffffff;}
  .footercopy a {color: #ffffff; text-decoration: underline;}

  @media only screen and (max-width: 550px), screen and (max-device-width: 550px) {
  body[yahoo] .hide {display: none!important;}
  body[yahoo] .buttonwrapper {background-color: transparent!important;}
  body[yahoo] .button {padding: 0px!important;}
  body[yahoo] .button a {background-color: #e05443; padding: 15px 15px 13px!important;}
  body[yahoo] .unsubscribe {display: block; margin-top: 20px; padding: 10px 50px; background: #2f3942; border-radius: 5px; text-decoration: none!important; font-weight: bold;}
  }

  /*@media only screen and (min-device-width: 601px) {
    .content {width: 600px !important;}
    .col425 {width: 425px!important;}
    .col380 {width: 380px!important;}
    }*/

  </style>
</head>

<body yahoo bgcolor="{{ colourConf["BGColour"] }}">
<table width="100%" bgcolor="{{ colourConf["BGColour"] }}" border="0" cellpadding="0" cellspacing="0"style="table-layout:fixed;">
<tr>
  <td>
    <!--[if (gte mso 9)|(IE)]>
      <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
    <![endif]-->     
    <table bgcolor="{{ colourConf["InnerBGColour"] }}" class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px; table-layout:fixed;">
      <tr>
        <td bgcolor="{{ colourConf["HeaderColour"] }}" class="header" style="box-shadow:0 6px 25px -10px #090909; width:100%;">
          <table width="70" align="left" border="0" cellpadding="0" cellspacing="0">  
            <tr>
              <td height="90" style="padding: 0 25px 0 0px;">
				<a href = "https://www.union.ic.ac.uk/scc/animesoc/current/">
					<img class="fix" src="https://www.union.ic.ac.uk/scc/animesoc/current/images/logo.png" width="90" height="10" border="0" alt="ICAS" />
				</a>
              </td>
            </tr>
          </table>
          <!--[if (gte mso 9)|(IE)]>
            <table width="425" align="left" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
          <![endif]-->
          <table class="col425" align="left" border="0" cellspacing="0" style="width: 100%; max-width: 425px;">  
            <tr>
              <td height="70" style="padding: 15px 0 0 0; ">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
                  <tr>
                    <td class="subhead" style="padding: 0 0 0 3px; font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 1px;">
                      {{ content.date|safe }}
                    </td>
                  </tr>
                  <tr>
                    <td class="h1" style="padding: 5px 0 0 0; font-size: 33px; line-height: 38px; font-weight: bold;">
                      {{ content.title }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
          </table>
          <![endif]-->
        </td>
      </tr>



        {{ content.tostring_htm()|safe }}



	  
      <tr>
        <td class="footer" bgcolor="{{ colourConf["HeaderColour"] }}" style="box-shadow:0 -6px 25px -10px #090909;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" class="footercopy">
                <a href="{{ contentConfig.UnsubscribeURL }}" class="unsubscribe"><font color="#ffffff">Unsubscribe</font></a>
                <span class="hide"> from this newsletter</span>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding: 20px 0 0 0;">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="37" style="text-align: center; padding: 0 2px;">
                      <a href="https://www.facebook.com/groups/AnimeSoc/">
                        <img src="http://i.imgur.com/VwzzKYi.png" width="37" height="37" alt="Facebook" border="0" />
                      </a>
                    </td>
                    <td width="37" style="text-align: center; padding: 0 2px;">
                      <a href="https://twitter.com/ICAnimeSoc">
                        <img src="http://i.imgur.com/ggDEgjk.png" width="37" height="37" alt="Twitter" border="0" />
                      </a>
                    </td>
					<td width="37" style="text-align: center; padding: 0 2px;">
                      <a href="http://steamcommunity.com/groups/ICAnimeSociety">
                        <img src="http://i.imgur.com/rWCYTkv.png" width="37" height="37" alt="Steam Group" border="0" />
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
    </table>
    <![endif]-->
    </td>
  </tr>
</table>
</body>
</html>