      <tr>
        <td class="innerpadding">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
            <tr>
              <td class="bodycopy">
                  {{ content.content_htm|safe }}
              </td>
            </tr>
          </table>
        </td>
      </tr>