      <tr>
        <td class="innerpadding borderbottom">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;">

            {% if content.title_htm %}
            <tr>
              <td align="center" style="padding: 0 0 15px 0; font-size: {{ font_size }}px; line-height: {{ font_size + 5 }}px; font-weight: bold; width:auto;">
                  {{ content.title_htm|safe }}
              </td>
            </tr>
            {% endif %}

            <tr>
              <td class="bodycopy">
                  {{ content.content_htm|safe }}
              </td>
            </tr>
          </table>
        </td>
      </tr>